// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label-info {
	display: inline !important;
}
#chat {
	height: 120px;
	overflow: auto;
}

.component {
  padding: 10px 0px 10px 0px;
}

.bingo_title {
  min-width: 90px;
  padding:5px;
  margin: 5px 10px;
  text-align: center;
}

.bingo_button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  min-width: 90px;
  padding:5px;
  margin: 5px 10px;
  background-color: green;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 3px;
}